# Question no 1

In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('Cutlets.csv')
df.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [4]:
#Null hypothesis is there is no difference in the diameter of two cutlets.
#Alternate hypothesis is there is difference between the diameter of two cutlets.
#as per questions

In [5]:
from scipy import stats

In [6]:
p_value = stats.ttest_ind(df['Unit A'],df['Unit B'])

In [7]:
p_value

Ttest_indResult(statistic=0.7228688704678061, pvalue=0.4722394724599501)

In [8]:
# so p_value is greater than 0.05 so we accept Null Hypothesis

### so that there is no difference in the diameter of two cutlets.

-------------------------------------------------

# Question no 2 (using annova)

In [9]:
df1=pd.read_csv('LabTAT.csv')
df1.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [10]:
#Here null hypothesis is there is no difference in TAT value of all laboratory means all are having same TAT value 
#The altenate hypothesis is there is difference in TAT value of all laboratory means all are having different TAT value

In [11]:
df1.mean()

Laboratory 1    178.361583
Laboratory 2    178.902917
Laboratory 3    199.913250
Laboratory 4    163.682750
dtype: float64

In [12]:
df1.var()

Laboratory 1    173.543568
Laboratory 2    223.715251
Laboratory 3    273.539607
Laboratory 4    227.559632
dtype: float64

In [13]:
df1.std()

Laboratory 1    13.173594
Laboratory 2    14.957114
Laboratory 3    16.539033
Laboratory 4    15.085080
dtype: float64

In [14]:
import scipy.stats as stats

In [15]:
stats.f_oneway(df1.iloc[:,0],df1.iloc[:,1],df1.iloc[:,2],df1.iloc[:,3])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

### Here p value is less than the 0.05 so we reject the null hypothesis and accept alternate hypothesis.

________________________________________________

# Question no 3

In [16]:
df3=pd.read_csv('BuyerRatio.csv')
df3

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [17]:
df3.drop(['Observed Values'], axis='columns', inplace=True)

In [18]:
array=df3.values
array

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]], dtype=int64)

In [19]:
from scipy.stats import chi2_contingency

In [20]:
chi2,p,dof,exp=chi2_contingency(array)

In [21]:
chi2

1.595945538661058

In [22]:
dof

3

In [23]:
p

0.6603094907091882

### p_value is greater than 0.05 so we accept Null Hypothesis

-------------------------------------------------------

# Question no 4

In [24]:
df4=pd.read_csv('Costomer+OrderForm.csv')
df4

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [25]:
df4["Phillippines"].replace({"Error Free":1, "Defective": 0}, inplace=True)
df4["Indonesia"].replace({"Error Free":1, "Defective": 0}, inplace=True)
df4["Malta"].replace({"Error Free":1, "Defective": 0}, inplace=True)
df4["India"].replace({"Error Free":1, "Defective": 0}, inplace=True)
df4

     Phillippines  Indonesia  Malta  India
0               1          1      0      1
1               1          1      1      0
2               1          0      0      1
3               1          1      1      1
4               1          1      0      1
..            ...        ...    ...    ...
295             1          1      1      1
296             1          1      1      1
297             1          1      0      1
298             1          1      1      1
299             1          0      0      1

[300 rows x 4 columns]

In [26]:
# Here null hypothesis is % of defectives in all countries are equal
#Alternate hypothesis is at least one defective % is not equal

In [27]:
array=df4.values
array

array([[1, 1, 0, 1],
       [1, 1, 1, 0],
       [1, 0, 0, 1],
       ...,
       [1, 1, 0, 1],
       [1, 1, 1, 1],
       [1, 0, 0, 1]], dtype=int64)

In [28]:
stat, p, dof, expected = chi2_contingency(array)

In [29]:
dof

897

In [30]:
p

1.0

In [1]:
#p_value is greater than 0.05 so we accept Null Hypothesis