In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as num

In [2]:
df=pd.read_csv('Company_Data.csv')
df

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

In [3]:
for x in df['Sales']:
    if x>=7.49:
        df['Sales'].replace(to_replace = x, value = 'high',inplace=True)
    else:
        df['Sales'].replace(to_replace = x, value = 'low',inplace=True)

In [4]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
df['ShelveLoc']= label_encoder.fit_transform(df['ShelveLoc'])
df['Urban']= label_encoder.fit_transform(df['Urban'])
df['US']= label_encoder.fit_transform(df['US'])
df['Sales']= label_encoder.fit_transform(df['Sales'])

In [5]:
df

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,0,138,73,11,276,120,0,42,17,1,1
1,0,111,48,16,260,83,1,65,10,1,1
2,0,113,35,10,269,80,2,59,12,1,1
3,1,117,100,4,466,97,2,55,14,1,1
4,1,141,64,3,340,128,0,38,13,1,0
...,...,...,...,...,...,...,...,...,...,...,...
395,0,138,108,17,203,128,1,33,14,1,1
396,1,139,23,3,37,120,2,55,11,0,1
397,1,162,26,12,368,159,2,40,18,1,1
398,1,100,79,7,284,95,0,50,12,1,1
399,0,134,37,0,27,120,1,49,16,1,1

In [6]:
x=df.iloc[:,1:11]
y=df['Sales']

In [7]:
df.Sales.value_counts()

0    201
1    199
Name: Sales, dtype: int64

In [8]:
# Splitting data into training and testing data set
from sklearn.model_selection import train_test_split
x_train, x_test,y_train,y_test = train_test_split(x,y, test_size=0.2,random_state=40)

In [9]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

####  GridCV

In [10]:
rf=RandomForestClassifier(random_state=42)

In [11]:
param_grid = { 
    'n_estimators': [100,150,200],
    'max_features': ['auto', 'sqrt', 'log2'],
    'max_depth': [2,4,10,12,15],
    'criterion' :['gini', 'entropy']
}

In [12]:
CV_rf = GridSearchCV(estimator=rf, param_grid=param_grid, cv= 5)
CV_rf.fit(x_train, y_train)

GridSearchCV(cv=5, estimator=RandomForestClassifier(random_state=42),
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [2, 4, 10, 12, 15],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [100, 150, 200]})

In [13]:
CV_rf.best_params_

{'criterion': 'entropy',
 'max_depth': 4,
 'max_features': 'auto',
 'n_estimators': 100}

In [14]:
rf1=RandomForestClassifier(random_state=42, criterion= 'entropy',max_depth= 4,max_features= 'auto',n_estimators= 100)

In [15]:
rf1.fit(x_train, y_train)

RandomForestClassifier(criterion='entropy', max_depth=4, random_state=42)

In [17]:
y_predict = rf1.predict(x_test)

In [18]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
accuracy_score(y_test, y_predict)

0.75

In [19]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,y_predict)

array([[29,  7],
       [13, 31]], dtype=int64)

In [20]:
print(classification_report(y_test,y_predict))

              precision    recall  f1-score   support

           0       0.69      0.81      0.74        36
           1       0.82      0.70      0.76        44

    accuracy                           0.75        80
   macro avg       0.75      0.76      0.75        80
weighted avg       0.76      0.75      0.75        80

In [22]:
from sklearn import ensemble

# Creating classifier Object
ada = ensemble.AdaBoostClassifier()
#Fitting the classifier to training data
ada.fit(x_train,y_train)

# Making Predictions
ada_pred = ada.predict(x_test)

print("Traing Score:%f"%ada.score(x_train,y_train))
print("Testing Score:%f"%ada.score(x_test,y_test))

Traing Score:0.956250
Testing Score:0.762500